{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="assets/css/home.css">
{% endblock %}
{% block header %}
    <header>
        <div class="title">
            <h1>Bella Ciao</h1>
            <h2>Votre boutique de jeux à Orléans</h2>
            <a href="/game/index" class="btn btn-lg btn-dark mt-5">Voir nos jeux</a>
        </div>
        <img src="assets/images/header_game.svg" alt="Personnages en train de jouer">
    </header>
{% endblock %}

{% block content %}
    Bienvenue chez Bella Ciao !
{% endblock %}
