header {
    --header-height: 600px;
}

header img {
    height: calc(var(--header-height) * 80%);
}

header .title {
    display: flex;
    flex-direction: column;
}
header .title .btn {
    align-self: center;
}

